[submodule "vendor/vendor/kernel/kernel-mvc"]
	path = vendor/vendor/kernel/kernel-mvc
	url = git@github.com:wisoch/kernel-mvc.git
[submodule "vendor/vendor/kernel/kernel-db"]
	path = vendor/vendor/kernel/kernel-db
	url = git@github.com:wisoch/kernel-db.git
[submodule "vendor/vendor/kernel/kernel-modulemanager"]
	path = vendor/vendor/kernel/kernel-modulemanager
	url = git@github.com:wisoch/kernel-modulemanager.git
